<!doctype html>

<html lang="fi">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="https://www.lentopalloerotuomarit.fi/nimeajat/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://www.lentopalloerotuomarit.fi/nimeajat/favicon.ico" type="image/x-icon">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="64x64" href="https://www.lentopalloerotuomarit.fi/nimeajat/icon64.png">
    <!-- Apple/Safari icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.lentopalloerotuomarit.fi/nimeajat/icon180.png">
    
    <title>Tuomarinimeäjien sivu</title>
    <meta name="description" content="Lentopalloerotuomarinimeäjien sivu">
    <meta name="author" content="Jori Ostrovskij">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/toastr.min.css">

    <script src="js/jos-global.js"></script>
    <script src="js/lib/jquery-3.1.1.js"></script>
    <script src="js/lib/toastr.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/lib/vue.js"></script>
    <script src="js/lib/moment.js"></script>
    <script src="js/lib/lockr.js"></script>
    <script src="js/tuomari-set.js"></script>
    <script src="js/vue-components.js"></script>
    <script src="js/skip.js"></script>
    
    <script src="js/util.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <div id="overlay" class="overlay" style="display: none"></div>
    <div id="popup" style="display: none"></div>
    <div onclick="$('#loader').hide();" style="display: none; padding: 40px; font-size: 20px; height:80%; position: fixed; top: 10%; left: 10%; width: 80%; 
                                               background: linear-gradient(to top, #fefcea 0%,#efdd69 100%); 
                                               border: 3px solid #a00;" id="loader">
        Ladataan tietoja...
    </div>
    
    <div id="app">
        <ul id="navbar" class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#etusivu" @click="resize()">Etusivu</a>  </li>
			<li>
                <a data-toggle="tab" href="#tuplat" @click="resize()">
                    Tuplat
                    <span v-if="tuplabuukkaukset_lkm > 0" class="referee-label">{{tuplabuukkaukset_lkm}}</span>
                </a>
            </li>
			<li>
                <a data-toggle="tab" href="#tyhjat" @click="resize()">
                    Tyhjät
                    <span v-if="nimeamattomat_lkm > 0" class="referee-label">{{nimeamattomat_lkm}}</span>
                </a>
            </li>
			<li><a data-toggle="tab" href="#tehtavat" @click="resize()">Määrät</a></li>
			<li><a data-toggle="tab" href="#lähipelit" @click="resize()">Lähipelit</a></li>
			<li><a data-toggle="tab" href="#tuomarit" @click="resize()">Tuomarit</a></li>
			<li><a data-toggle="tab" href="#sarjat" @click="resize()" id="sarjat_tab">Sarjat</a></li>
			<li><a data-toggle="tab" href="#kirjautuminen" @click="resize()">Kirjautuminen</a></li>
		</ul>

		<div class="tab-content">
     		<div v-if="alertShown" class="alert alert-success alert-dismissible" role="alert" style="position: fixed">{{alertText}}</div>
			<div id="etusivu" class="tab-pane fade in active">
                <h1><img src="balloon.png" style="padding-bottom: 15px; height: 60px; margin-right: 10px"> Nimeäjien työkalu</h1>

                
                <!--<div style="background: red; padding: 12px;">
                <h1 style="color: white;">HUOM!</h1>
                <p style="font-size: 18px; color: white;">Tuomareiden tietojen haku Torneopalista ei tällä hetkellä toimi, ja sen vuoksi ei ole mahdollista saada tietoa tuplabuukkauksista tai tehtävämääristäkään. Poistan tämän ilmoituksen, kun sivut jälleen toimivat.</p>
                </div>
                <hr>-->

                <!-- <p><span class="referee-label">Uutta!</span> 20.9.2018: Tuomarin esteiden näyttäminen torneopalissa. Ottelumäärien näkymään on lisätty tuomareiden nimen eteen 
                tällainen kuvake: <img src="block.png" height=16>. Siitä klikkaamalla aukeaa samalle sivulle näkymä torneopaliin ko. tuomarin estesivulle.<br>
                 HUOM! Jos et ole jo valmiiksi kirjautunut torneopaliin, niin tuo linkki vie vain kirjautumissivulle. Sen jälkeen kun olet kirjautunut, vie linkki perille esteisiin saakka.</p>
                <p>Sivulle upotetussa näkymässä esteiden muokkaaminen on estetty. Ko. "ikkunan" otsikossa oleva teksti on linkki, josta pääsee oikeasti torneopaliin ko. sivulle, ja siellä
                    onnistuu myös muokkaaminen.
                </p>
                
                <p><span class="referee-label">Uutta!</span> 10.9.2018: Linkki torneopaliin ottelun nimeämiseksi. Tyhjien otteluiden näkymään on lisätty puuttuvien tuomareiden 
                luo tällainen kuvake: <img src="tp.png">. Se toimii linkkinä torneopalin tuomariasetteluun suoraan ko. otteluun. Huom! Jos et ole jo valmiiksi kirjautunut
                torneopaliin, niin tuo linkki vie vain kirjautumissivulle. Sen jälkeen kun olet kirjautunut, vie linkki perille otteluun saakka.</p>

                <hr>
                 -->
                <h3>Toiminnot</h3>
                
                <p><b>Tuplabuukkaukset</b> Näyttää sellaiset tapaukset, joissa tuomarille on nimetty kaksi peliä samalle päivälle. Huom: juniorien ja mastersien pelit on oletusarvoisesti suodatettu pois, eivätkä näy tässä.</p>
                <p><b>Nimeämättömät ottelut</b> Näyttää ottelut, joista puuttuu tuomari, ja sen, mikä tehtävä on täyttämättä.</p>
                <p><b>Tehtävämäärät</b> Näyttää tuomarikohtaisesti kuukausittaiset ottelut sarjoittain. Tämä on tarkoitettu avuksi juuri nimettyjen tehtävien määrän tarkistamiseen, eli käytettäväksi silloin kun mietitään, kenelle nimeäisin jonkun ottelun; onko jollakulla liian pieni tai liian suuri työmäärä.</p>
                <p><b>Lähipelit</b> Näyttää aikajärjestyksessä listan kaikkien valittujen sarjojen otteluista siihen päivään saakka, joka on valittu näytettäväksi nimeämättömien pelien kohdalla.</p>

                <hr>

                <h3>Käyttöohje</h3>
                <p><b>Omien tuomareiden valinta</b></p>
                <p>Ensimmäinen toimenpide, joka työkalua käytettäessä pitäisi suorittaa, on tuomareiden valinta. Asetukset-välilehdellä on pitkä lista tuomareista. Kunkin rivin ensimmäisenä on ruksitettava laatikko, josta voi valita tuomarin ns. omaksi tuomariksi. Useimpia nimeäjiä kiinnostaa vain joidenkin tiettyjen tuomareiden ottelut ja tehtävät, ja tältä listalta pitäisi valita heidät. Kun oma lista tuomareista on saatu naksuteltua, voi ruksata kohdan "Näytä vain valitut tuomarit", jolloin muut eivät edes näy listalla. Listan yläpuolella oleva rivi valintalaatikkoja
                suodattaa tuomareita näkyviin tuomariluokan mukaan. Listan voi järjestää sarakkeiden otsikoita napauttamalla. Postinumeron mukaan järjestäminen lienee tehokkaimpia tapoja.</p>

                <p>Kun halutut tuomarit on valittu, niin viimeistään silloin kannattaa ensimmäisen kerran tallettaa asetukset ao. painikkeesta. Asetukset talletetaan selaimen local storageen, eli ne täytyy tehdä erikseen jokaisella tietokoneella ja puhelimella ja tabletilla, jokaisella selaimella, jota käytät.</p>

                <p>Torneopal tarjoaa tällä hetkellä tuomareiden tiedoista ainoastaan nimen ja Id-numeron, ja kaikki muut tiedot on täytetty tulospalvelun tuomarilistauksen perusteella, listaus on siis luettu kerran ja tiedot talletettu silloin. Kaikkien tuomareiden tietoja ei tulospalvelunkaan listalta ole löytynyt, ja tällaisten tuomareiden tuomariluokaksi on merkitty "Ei". Tästä samasta syystä heidän kohdaltaan ei löydy täältäkään muita tietoja kuin nimi ja se Id. Nämä tuomarit ovat oletettavasti pääosin sellaisia, joilla ei ole voimassaolevaa lisenssiä, mutta jos noissa tiedoissa ilmenee
                päivitystarvetta, niin minulle voi ilmoitella.</p>

                <p><b>Tehtävämäärät-listalla näkyvien tuomareiden valinta</b></p>
                <p>Tuomarilistassa on myös valintalaatikko sarakkeessa "Määrät". Tällä valinnalla valitaan omien tuomareiden joukosta ne, jotka halutaan listata Tehtävämäärät-sivulla. Nimeäjä voi esim. nimetä vain liiton sarjojen pelejä ja häntä kiinnostaa siksi juuri niitä pelejä viheltävien tuomareiden tehtävämäärät, mutta hän haluaa silti saada varoituksen siitä, että jollain lähituomarilla on tuplabuukkaus.</p>

                <p><b>Valitut sarjat</b></p>
                <p>Seuraavaksi valitaan ne sarjat, joiden otteluita halutaan tarkastella. (Tuomarilistan saa pienennettyä "Tuomarit: valittu..." -otsaketta napauttamalla). Oletusarvoisesti on valittu kaikki liiton aikuisten sarjat, mutta ruksaamalla jonkun alueista, saa näkyviin kaikki sen alaiset sarjat, lohkot ja joukkueet. Näkyviin tai pois voi valita kerralla kokonaisen alueen, sarjan tai lohkon, ja näiden sisältä voi vielä valita, jos haluaa nähdä vain joidenkin tiettyjen joukkueiden <b>koti</b>ottelut. </p>
                <p>Kun halutut sarjat on valittu, niin talletetaan jälleen asetukset, ja sivusto onkin käyttökunnossa.</p>

                <p>Taulukossa kuukauden nimeä kilkkaamalla voi piilottaa/palauttaa ko. kuukauden tehtävät. Valinnat tallettuvat ko-sivun talletuspainikkeella.</p>

                <p><b>Tuplabuukkaukset</b></p>
                <p>Tämä välilehti luettelee kaikki tapaukset, joissa jollain tuomarilla on samana päivänä kaksi ottelua, ja linkit ko. tuomarin ottelulistaan ja noiden ottelujen tietoihin.</p>
                <p><b>Huom!</b> Täällä näkyvät vain asetuksissa omiksi valittujen tuomareiden tuplabuukkaukset. Juniorien pelit on myös suodatettu oletusarvoisesti pois, joten nekään eivät täällä näy. Tarkoitus on, että jos tällä välilehdellä jotain näkyy, niin se täytyy aina tapauskohtaisesti tarkistaa.</p>

                <p><b>Nimeämättömät ottelut</b></p>
                <p>Tämä välilehti luettelee kaikki ottelut asetusten määräämään päivämäärään saakka, joista puuttuu joku tuomareista. Liiga- ja 1-sarjapeleissä se tarkoittaa PT, VT ja rajatuomarit, M2- ja M3- sarjoissa PT ja VT ja muissa sarjoissa PT. 
                <p><b>Huom!</b> Täällä näkyvät vain niiden sarjojen ja joukkueiden kotiottelut, jotka on valittu näytettäviksi.</p>

                <p><b>Tehtävämäärät</b></p>
                <p>Tämä välilehti on vain informatiivisuuden vuoksi, eikä varoita mistään. Näytettävät sarjat täytetään valittujen tuomareiden mukaisesti, ja valintaruuduissa tehtävät suodatukset voi tallettaa.</p>

                <p><b>Lähipelit</b></p>
                <p>Myös tämä välilehti on vain informatiivisuuden vuoksi, eikä varoita mistään. Tämän kautta saa katsauksen valittujen sarjojan lähiaikoina tulevista / menneistä peleistä.</p>

                <p><b>Vaihtoehtoiset valinnat</b></p>
                <p>Sivun osoitteen perään laitettavalla url-parametrilla voidaan tallettaa ja käyttää vaihtoehtoisia asetuksia.</p>
                <p>Normaalisti minä haluan nähdä kaikki Helsingin seudun ottelut, joten olen tallettanut asetuksiin kaikki paikalliset tuomarit ja sarjat. Toisinaan haluan nähdä pelkästään niiden sarjojen pelit, jotka itse nimeän. Silloin käytänkin osoitteena <pre>http://www.lentopalloerotuomarit.fi/nimeajat/?prefix=omat</pre> Tällöin koko sivusto näkyy aivan erillisenä ja voin tallettaa asetuksiin ainoastaan ne haluamani sarjat ja tuomarit. Osoitteen loppuun tulevassa osassa kohta 'omat' on ratkaiseva, eli sitä vaihtamalla voi tehdä itselleen asetuksilla niin paljon erilaisia näkymiä kuin haluaa. Selaimen kirjanmerkkejä talletettaessa tuo loppuosa on automaattisesti mukana.</p>
                <p>Tätä toimintoa voi käyttää hyväksi esim. juniorien ja mastersien sarjojen näyttämiseen erillisten sivujen sijaan.</p>
                
                <hr>

                <p><b>Palautetta ja kehitystä</b></p>
                <p>Sivujen toiminnasta voi antaa palautetta minulle, joko suoraan sähköpostilla. Asetusten toimintalogiikka on tehty siten, että siinä valitaan aina niitä tuomareita ja sarjoja jne, joita <i>ei</i> näytetä. Tällöin tapauksessa, jossa järjestelmään tulee uusia otteluita, lohkoja tuomareita jne, tulevat uudet aina näkyviin, kunnes ne erikseen käydään asetuksista piilottamassa. Ensimmäisellä avauskerralla olen valinnut näkyviksi liiton sarjojen aikuisten pelit ja     
                neljä liigatuomaria.</p>

                <p>Sivusto on jatkuvassa kehitysvaiheessa, joten vikoja saattaa hyvinkin ilmetä. Parannusehdotuksia saa kernaasti esittää. Tässä muodossaan sivu palvelee niitä tarpeita joita minulla nimeäjänä on, mutta se ei välttämättä sovi kaikille. Osa sarjoista on pysyvästi suodatettu pois näkyvistä, joten jos et saa jotain itsellesi tärkeää sarjaa lainkaan näkyviin, saattaa syy olla siinä. Kerro asiasta, niin asia saadaan helposti korjattua.</p>

                <p>Sellainen välilehti on jossain vaiheessa ainakin tulossa, joka kertoo väärille tuomareille nimetyistä otteluista. Joskus ottelu voi lipsahtaa viereiselle nimelle, ja listalla voisi esittää tapaukset, joissa valittujen sarjojen ottelu on nimetty tuomarille, joka ei löydy valittujen joujosta.</p> 

                <hr>

                <p>Huom! Kehitysvaiheessa sivu toimii Chromella ja Firefoxilla, joten jos sivu ei tunnu toimivan lainkaan, niin kokeile ensin ajantasaisella selaimella.</p>

                <p>-Jori<br><img src="ema.png"></p> 
                <hr>
                <p><button class="myButton" onclick="location.reload(true)">Lataa sivu palvelimelta uudestaan</button></p>
			</div>
			<div id="tuplat" class="tab-pane fade">
                <vue-tuplat v-model="tuplabuukkaukset_lkm" v-if="loader_count < 1" :duplicates="double_booking"></vue-tuplat>
			</div>
			<div id="tehtavat" class="tab-pane fade">
                <vue-tehtavat  v-if="loader_count < 1" :series="series_of_workload_referee_matches" :initial_matches="matches_of_workload_referees" :referees="workload_referees"></vue-tehtavat>
			</div>
			<div id="tyhjat" class="tab-pane fade">
                <button class="myButton" @click="saveCookies">Tallenna asetukset</button>
                <button class="myButton" @click="loadCookies">Lataa asetukset</button>
                
                Näytetään nimeämättömät ottelut <input size="4" type="number" v-model="show_days_ahead" class="myInput"></input> päivää eteenpäin, eli ennen päivää: {{last_shown_day}} <br>

                <hr>

                <vue-matches  v-model="nimeamattomat_lkm" v-if="loader_count < 1" :initial_matches="matches_with_incomplete_referees" :show_days_ahead="show_days_ahead"></vue-matches>
			</div>
			<div id="tuomarit" class="tab-pane fade">
                <div id="tuomaritButtonit">
                    <button class="myButton" @click="saveCookies">Tallenna asetukset</button>
                    <button class="myButton" @click="loadCookies">Lataa asetukset</button>
                    
                    <hr>
                </div>

                <vue-referees v-if="loader_count < 1" :referees="referees"></vue-referees>
			</div>
			<div id="sarjat" class="tab-pane fade">
                <div id="sarjat-buttonit">
                    <button class="myButton" @click="saveCookies">Tallenna asetukset</button>
                    <button class="myButton" @click="loadCookies">Lataa asetukset</button>
                    
                    <hr>
                </div>

                <vue-competitions @load_categories_from_child="loadCategoriesFromChild" 
                                  @load_groups_from_child="loadGroupsFromChild"
                                   v-if="loader_count < 1" :competitions="competitions"></vue-competitions>
			</div>
    		<div id="lähipelit" class="tab-pane fade">
                
			    <h2>Valittujen sarjojen pelit lähiaikoina</h2>
                <p>Näytetään ottelut viikon verran taaksepäin ja eteenpäin samaan päivään asti kuin nimeämättömien pelien listalla.
                    <a :href="toCSV()" style="float: right" download="my_data.csv">Lataa CSV</a>
                </p>

                <vue-all-matches :initial_matches="all_matches" :show_days_ahead="show_days_ahead"></vue-all-matches>
            </div>
			<div id="kirjautuminen" class="tab-pane fade">
                <div id="kirjautuminen-buttonit">
                    <button class="myButton" @click="saveCookies">Tallenna asetukset</button>
                    <button class="myButton" @click="loadCookies">Lataa asetukset</button>
                    
                    <hr>

                    <h2>Asetusten talletus palvelimelle</h2>
                    <p>Mikäli sait herjan <span class="herja">Palvelimelle talletettuja tietoja ei löytynyt</span>, niin 
                       kyse on siitä, että et ole vielä tallettanut palvelimelle mitään.</p>

                    <p>Tietojen talletus on käytettävissä ainoastaan silloin, kun sivun osoitteessa
                       on mukana kohta <span class="code">token=<i><&lt;oma-tunnisteesi&gt</i>;</span>.
                    </p>

                    <p><b>Ennen kuin talletat palvelimelle ensimmäisen kerran, niin varmista, että sinulla 
                        on valittuna oikeat sarjat ja tuomarit!</b> Sen jälkeen kun tiedot on talletettu,
                        niin ne ovat käytössä <b>kaikkialla</b>, siis kaikilla tietokoneilla, puhelimilla, 
                        selaimilla jne., jos osoitteessa on mukana yllä mainittu tunniste. 
                    </p>

                    <p>Asetuksia voi toki edelleen muuttaa ja tallettaa uudestaan.</p>

                    </p>
                </div>
			</div>
        </div>        

    </div>
</body>

</html>