<!doctype html>

<html lang="fi">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>JUNIORIT * Tuomarinimeäjien sivu</title>
    <meta name="description" content="Lentopalloerotuomarinimeäjien sivu">
    <meta name="author" content="Jori Ostrovskij">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jos-global.js"></script>
    <script src="js/jquery-3.1.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/lockr.js"></script>
    <script src="js/tuomari-set.js"></script>
    <script src="js/vue-components.js"></script>
    <script src="js/skip-juniors.js"></script>
    <script src="js/script.js"></script>
</head>

<body style="background: #b5f0b5;">
    <div id="overlay" style="display: none"></div>
    <div id="popup" style="display: none"></div>
    <div style="display: none; padding: 40px; font-size: 20px; height:80%; position: fixed; top: 10%; left: 10%; width: 80%; background: yellow; border: 3px solid red;" id="loader">Ladataan tietoja...</div>
    
    <div id="app">
        <ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#etusivu">Etusivu</a>  </li>
			<li>
                <a data-toggle="tab" href="#tuplat">
                    Tuplabuukkaukset
                    <span v-if="tuplabuukkaukset_lkm > 0" class="referee-label">{{tuplabuukkaukset_lkm}}</span>
                </a>
            </li>
			<li>
                <a data-toggle="tab" href="#tyhjat">
                    Nimeämättömät ottelut
                    <span v-if="nimeamattomat_lkm > 0" class="referee-label">{{nimeamattomat_lkm}}</span>
                </a>
            </li>
			<li><a data-toggle="tab" href="#tehtavat">Tehtävämäärät</a></li>
			<li><a data-toggle="tab" href="#lähipelit">Lähipelit</a></li>
			<li><a data-toggle="tab" href="#asetukset">Asetukset</a></li>
			<li><a data-toggle="tab" href="#tuovie">Tuo/vie</a></li>
		</ul>

		<div class="tab-content">
     		<div v-if="alertShown" class="alert alert-success alert-dismissible" role="alert" style="position: fixed">{{alertText}}</div>
			<div id="etusivu" class="tab-pane fade in active">
                <h1>Nimeäjien työkalu * JUNIORIT</h1>
                <p>Tämä sivu on laadittu lentopallon tuomarinimeäjien avuksi.</p>

                <hr>

                <h3>Käyttöohje</h3>
                <p>Tämä sivu toimii samalla tavalla kuin normaali aikuisten sarjojen sivu, mutta <b>näkyvissä ovat vain juniorien sarjat</b>. Tämä erottelu on tehty siksi, ettei sivun lataaminen olisi liian hidasta.</p>
                <p>Juniorien sivun kaikki asetukset ovat erillisiä, eli kaikki tehtävämäärät, tuomarit ym. voi valita tälle sivulle erikseen eivätkä ne vaikuta muiden nimeämissivujen asetuksiin.</p>
                <p>Aikuisten sarjojen sivu löytyy täältä:<br><a href="http://www.lentopalloerotuomarit.fi/nimeajat/" target="_blank">http://www.lentopalloerotuomarit.fi/nimeajat/</a></p>
                <p>Masters-sarjojen sivu löytyy täältä:<br><a href="http://www.lentopalloerotuomarit.fi/nimeajat/masters.html" target="_blank">http://www.lentopalloerotuomarit.fi/nimeajat/masters.html</a></p>
			</div>
			<div id="tuplat" class="tab-pane fade">
                <vue-tuplat v-model="tuplabuukkaukset_lkm" v-if="loader_count < 1" :duplicates="double_booking"></vue-tuplat>
			</div>
			<div id="tehtavat" class="tab-pane fade">
                <vue-tehtavat  v-if="loader_count < 1" :series="series_of_workload_referee_matches" :initial_matches="matches_of_workload_referees" :referees="workload_referees"></vue-tehtavat>
			</div>
			<div id="tyhjat" class="tab-pane fade">
                <vue-matches  v-model="nimeamattomat_lkm" v-if="loader_count < 1" :initial_matches="matches_with_incomplete_referees" :show_days_ahead="show_days_ahead"></vue-matches>
			</div>
			<div id="asetukset" class="tab-pane fade">
                <button @click="saveCookies">Tallenna asetukset</button>
                <button @click="loadCookies">Lataa asetukset</button>
                
                <hr>
                
                Näytetään nimeämättömät ottelut <input type="number" v-model="show_days_ahead"></input> päivää eteenpäin, eli ennen päivää: {{last_shown_day}}

                <hr>
                
                <vue-referees v-if="loader_count < 1" :referees="referees"></vue-referees>
                <vue-competitions  v-if="loader_count < 1" :competitions="competitions"></vue-competitions>
			</div>
			<div id="tuovie" class="tab-pane fade">
                
                <h2>Tuo/vie</h2>

                <p>Kun asetukset on saatu kuntoon yhdellä selaimella esim. PC:llä, olisi mukavaa saada samat asetukset siirrettyä muille laitteille ilman työlästä uudelleennaksuttelua. 
                Se onnistuu täällä.</p>
                <p><b>HUOM!</b> Käytä vie-toimintoa vain heti sen jälkeen, kun olet tallettanut ja ladannut asetukset "Asetukset"-välilehdellä! Näin varmistetaan se, että siirrettäviin asetuksiin ole tullut muutoksia.</p>

                <hr>

                <h4>Esimerkki: Asetusten vienti PC:ltä kännykkään</h4>
                <p>1. Lataa sivu uudestaan.<br>
                   2. Tule selaimella tälle sivulle ja kopioi <b>KAIKKI</b> teksti ylemmästä alla olevasta laatikosta. <br>
                   3. Siirrä jollain konstilla teksti PC:ltä puhelimeen.<br>
                   4. Liitä puhelimessa teksti alempaan allaolevista laatikoista ja paina "Tallenna asetukset"-painiketta.<br>
                   5. Lataa sivu uudestaan, jotta varmistat uusien asetusten olevan käytössä.</p>

                <button @click="importCookies">Tallenna asetukset</button>
                
                <button @click="clearCookies">Tyhjennä asetukset</button>
                
                <hr>
                
                <label>Kopioi tästä laatikosta viedäksesi asetukset toiseen selaimeen:</label><br>
                <textarea style="width: 100%" rows="5" cols="40" readonly v-model="cookies.vie"></textarea>
                
                <hr>

                <vue-input-area label="Liitä tähän laatikkoon tuodaksesi asetukset toisesta selaimesta" v-model="cookies.tuo"></vue-input-area>
			</div>
    		<div id="lähipelit" class="tab-pane fade">
                
			    <h2>Valittujen sarjojen pelit lähiaikoina</h2>
                <p>Näytetään ottelut viikon verran taaksepäin ja eteenpäin samaan päivään asti kuin nimeämättömien pelien listalla.</p>

                <vue-all-matches :initial_matches="all_matches" :show_days_ahead="show_days_ahead"></vue-all-matches>

            </div>
             
		</div>        

    </div>
</body>

</html>