<!doctype html>

<html lang="fi">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>vue.js kokeilu</title>
    <meta name="description" content="Vue.js kokeilua">
    <meta name="author" content="Jori Ostrovskij">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery-3.1.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/tuomari-set.js"></script>
    <script src="js/vue-components.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <div style="display: none; padding: 40px; font-size: 20px; height:80%; position: fixed; top: 10%; left: 10%; width: 80%; background: yellow; border: 3px solid red;" id="loader">Ladataan tietoja...</div>
    
    <div id="app">
        
        <ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tuplat">Tuplabuukkaukset</a></li>
			<li><a data-toggle="tab" href="#tyhjat">Nimeämättömät ottelut</a></li>
			<li><a data-toggle="tab" href="#tehtavat">Tehtävämäärät</a></li>
			<li><a data-toggle="tab" href="#asetukset">Asetukset</a></li>
		</ul>

		<div class="tab-content">
     		<div v-if="alertShown" class="alert alert-success alert-dismissible" role="alert" style="position: fixed">{{alertText}}</div>
			<div id="tehtavat" class="tab-pane fade in active">
                <vue-tehtavat  v-if="loader_count < 1" :matches="matches_of_selected_referees" :referees="workload_referees"></vue-tehtavat>
			</div>
			<div id="tuplat" class="tab-pane fade">
                <vue-tuplat  v-if="loader_count < 1" :duplicates="double_booking" :initial_date="datestring"></vue-tuplat>
			</div>
			<div id="tyhjat" class="tab-pane fade">
                <vue-matches  v-if="loader_count < 1" :initial_matches="matches_with_incomplete_referees" :initial_date="datestring"></vue-matches>
			</div>
			<div id="asetukset" class="tab-pane fade">
                <button @click="saveCookies">Save</button>
                <button @click="loadCookies">Load</button>
                
                <hr>
                
                <vue-referees v-if="loader_count < 1" :referees="referees"></vue-referees>
                <vue-competitions  v-if="loader_count < 1" :competitions="competitions"></vue-competitions>
			</div>
		</div>        

    </div>
</body>

</html>